<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HSFontText.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B2C6D4CB1CA3DBCF00DCAA13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2C6D4E41CA3DBD000DCAA13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2C6D4EF1CA3DBD000DCAA13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
